<h1>Herokai DevCenter</h1>
<p class="text-muted">Translation Project of documents on Heroku Dev Center</p>

<table class="table table-striped">
  <thead>
    <tr>
			<th> Name </th>
			<th> Updated at </th>
			<th> Translated at </th>
			<th> Status </th>
			<th></th>
			<th></th>
		</tr>
  </thead>

  <tbody>
		<% words = {"success" => "OK", "warning" => "Out-of-date", "danger" => "Untranslated" } %>
    <% @articles.each do |article| %>
			<% updated_at = Date.parse(article[:written_at].to_s) %>
			<% translated_at = Date.parse(article[:translated_at].to_s) if article[:translated_at] %>
			<%
			
			if translated_at
			  if updated_at < translated_at
			    s = "success"
			  else
			    s = "warning"
			  end
			else
			  s = "danger"
			end
			%>
			<tr class="<%= s %>">
				<td> <%= article["name"]%> <span class="text-muted">(<%= article["url"] %>)</span></th>
				<td> <%= article["updated_at"] %> </th>
				<td> <%= article["translated_at"] %> </th>
				<td> <span class="text-<%= s %>"> <%= words[s] %> </span> </th>
				<td> <a href="https://github.com/herokaijp/devcenter/wiki/<%= article[:url] %>">WIKI</a></th>
				<td> <a href="https://devcenter.heroku.com/articles/<%= article[:url] %>">ORIGINAL</a></th>
			</tr>
		  
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
