%nav{:class => "navbar navbar-inverse navbar-fixed-top"}
  %a.navbar-brand{:href => "#"} Status HerokaiJP DevCenter
  .navbar-form.pull-right
    .form-group
      %input#filter{:type => "text", :class => "form-control", :placeholder => "Search"}

.jumbotron
  .container
    %h1 Status HerokaiJP Devcenter
    :ruby 
      pages = @articles.size
      translated_pages = @articles.select{|a| a[:translated_at] != nil}.size
      score = translated_pages * 100 / pages
    %p
      There are #{pages} pages, and #{translated_pages} pages are translated. #{score}% translated.
      
    .progress.progress-striped.active
      .progress-bar{:role=>"progressbar", "aria-valuenow" => score, "aria-valuemin" => "0", "aria-valuemax" => "100", :style => "width: #{score}%"}
        %span.sr-only #{score}% Complete

%table#data.table.table-striped
  %thead
    %tr
      %th Name
      %th Updated
      %th Translated
      %th Diff 
      %th
      %th
      %th
      %th
  %tbody
    - words = {"success" => "OK", "warning" => "Out-of-date", "danger" => "Untranslated" }
    - sign = {"success" => "ok", "warning" => "warning-sign", "danger" => "minus-sign"}
    - @articles.each do |article|
      :ruby
        updated_at = Date.parse(article[:written_at].to_s)
        translated_at = Date.parse(article[:translated_at].to_s) if article[:translated_at]
        if translated_at
        if updated_at < translated_at
        s = "success"
        else
        s = "warning"
        end
        else
        s = "danger"
        end
      %tr{:class => [s,"data"], :id => article[:name]}
        %td{:style => "display: none"}= article[:name]
        %td{:class => "article_name"}
          = link_to article[:name], "https://devcenter.heroku.com/articles/#{article[:url]}", :class => "text-info"
          %span.text-muted
            (#{article["url"]})
          - if article[:translated_at]
            = link_to "Japanese", "https://github.com/herokaijp/devcenter/wiki/#{article[:url]}", :class => ["btn", "btn-default", "btn-xs"]
        %td= article[:written_at].strftime "%y/%m/%d" if article[:written_at]
        %td
          - unless article[:translated_at]
            Not yet
          - else        
            =article[:translated_at].strftime "%y/%m/%d"
        %td= link_to "", compare_path(:url => article[:url]), :class => ["glyphicon", "glyphicon-eye-open", "compare"], :remote => true
        %td
          %span{:class => "glyphicon glyphicon-#{sign[s]} text-#{s} stat-#{s}"}
        %td= link_to "", "https://github.com/herokaijp/devcenter/wiki/#{article[:url]}", :class => ["glyphicon", "glyphicon-pencil", "wikilink"]
        %td= link_to "", "https://devcenter.heroku.com/articles/#{article[:url]}", :class => ["glyphicon", "glyphicon-new-window", "doclink"]
        %td= link_to "", "https://twitter.com/share?text=#{tweet_text(article)}", :class => ["glyphicon", "glyphicon-bullhorn", "announce"], :target => "_blank"

#Modal.modal.fade{:tabindex => "-1", :role => "dialog", "aria-labellebdy" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} &times; 
        %h4.modal-title
      .modal-body
        %table#Articles
          %tr
            %td#doc
            %td#wiki

:javascript
  $('.wikilink').tooltip({
    title: "Watch the translated article",
    trigger: "hover"
  });
  $('.doclink').tooltip({
    title: "Watch the original article",
    trigger: "hover"
  });
  $('.announce').tooltip({
    title: "Announce this article via Twitter",
    trigger: "hover"
  });
  $('.stat-success').tooltip({
    title: "Translated after this article updated",
    trigger: "hover"
  });
  $('.stat-warning').tooltip({
    title: "This article might be out-of-date",
    trigger: "hover"
  });
  $('.stat-danger').tooltip({
    title: "Untranslated",
    trigger: "hover"
  });
  $('.compare').tooltip({
    title: "Compare the translated with the original",
    trigger: "hover"
  });
  $('.compare').click(function(){
    $("#Modal h4").html($(this).parent().parent().find("td.article_name").html());
    $("#doc").html("<img src='#{image_path("ajax-loader.gif")}' class='indicator' /><span class='text-muted center'>Original Article</span>");
    $("#wiki").html("<img src='#{image_path("ajax-loader.gif")}' class='indicator' /><span class='text-muted center'>Translated Article</span>");
    $('#Modal').modal('show');
  });
  $("#filter").on("keyup",function(){
    console.log($(this).val());
    var keyword = $(this).val();
    if(keyword.length > 0){
      $("table#data tr.data").each(function(){
        if($(this).attr("id").toLowerCase().indexOf(keyword.toLowerCase()) != -1){
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }else{
      $("table#data tr").show();
    }
  })